.blue {
  color: $logo-blue;
}

.red {
  color: $logo-red;
}

.yellow {
  color: $logo-yellow;
}

.green {
  color: $logo-green;
}

.question-mark {
  display: inline-block;
  font-size: 2.5rem;
  transform: rotate(10deg);
  @include mq(768px) {
    font-size: 5rem;
  }
}

//making content avaiable for screen readers

.offscreen {
  position: absolute;
  left: -10000px;
  // display: none; => commented out as screen reader won't see the headings making them useless for accessibility
}

.none {
  display: none;
}

.flex {
  display: flex;
}


